* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/*GENERAL*/


body {
    background-color: #d1d9ed;
}

p {
    font-family: 'Baloo Bhaina 2', cursive;
}

nav img {
    width: 8%;
    
    background-color: rgb(21 51 95);
}

nav {
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    background-color: rgb(21 51 95);
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 80%;

}

nav li {
    background-color: antiquewhite;
    border-radius: 0% 0 0 50%;
    font-size: 120%;
    display: flex;
    letter-spacing: 2px;
    border: solid 2px rgb(210, 223, 181);
    align-items: center;
}

nav li a {
    text-decoration: none;
    font-family: 'Baloo Bhaina 2', cursive;
}


nav li a:hover {
    color: aliceblue;
    text-align: center;
}

nav li:hover {
    background-color: #cec6c6;
    padding-right: 50px;
    border-radius: 0 0 50% 50%;
}


.middle {
    background-image: url(/images/molamazo.png);
    background-size: cover;
    height: 600px;
    border-radius: 0 60% 0 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.middle img{
   width: fit-content;
   align-self: flex-end;
   margin-top: -1%;
}

main {
    width: 80%;
    margin: auto;
}

header h2 {
    background: antiquewhite;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Baloo Bhaina 2', cursive;
    letter-spacing: 2px;
    border-radius: 0 0 100% 100%;
    margin: auto;
    width: 20%;
}






/*HOME*/


.cursosgeneral {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
    margin-bottom: 2%;
}


.mainhome button {
    width: 200px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 4s;
    cursor: pointer;
}

.mainhome .button {
    text-decoration: none;
    transition-duration: 0.4s;
    width: 300px;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.mainhome .button:hover {
    background-color: hsl(121, 42%, 38%);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 5px;
}

.mainhome .dia,
.tipocurso {
    font-weight: bold;
}

.mainhome .semana,
.mes, 
.dia {
    text-shadow: 2px 2px 2px rgb(57, 146, 54);
}

.cursosgeneral p {
    text-align: center;
}

.tipocurso {
    font-size: 80%;
    letter-spacing: 6px;
}





/*CONOCENOS*/

.mainmentores {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.presentacionmentor {
    text-align: center;
    align-self: center;
    width: 30%;
    text-shadow: 1px 1px 1px rgb(59, 117, 20);
}

.mentores {
    width: 60%;
 }

.mentor {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 2%;
 }

.mentores img {
    width: 140px;
    height: 140px;
    border-radius: 50px;
}

.mentores .nombre {
    text-decoration: underline;
    text-underline-position: under;
    font-style: italic;
}

/*CONTACTO*/

.contactomain {
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
    margin-bottom: 6%;
}

.contactoinfo {
    align-self: center;
    text-align: center;
    width: 30%;
    text-shadow: 1px 1px 1px rgb(57, 146, 54);
}

.mailtlf {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.mail,
.tlf
    {
    text-align: center;
}



/*TABLA*/

table {
    font-family: 'Baloo Bhaina 2', cursive;
} 


.tabla, th,
 td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
  }
  
 tr:hover {
     background-color:#f5f8f0;
 }
 
 tr:nth-child(odd){ 
     background-color:#dee9a1;
 }

 th {
    text-align: center;
    background-color: white;
 }



 /*LISTA*/

 