* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/*GENERAL*/


body {
    background-color: #d1d9ed;
}

p {
    font-family: 'Baloo Bhaina 2', cursive;
}

nav img {
    width: 8%;
    background-color: #213055;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style-type: none;
    background-color: rgb(21 51 95);
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 80%;
    align-items: center;
    background-image: linear-gradient(to right, #213055,#2b3857,#64607a, #a7a3c6);
}


nav li a {
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    letter-spacing: 2px;
    border: solid 2px rgb(210, 223, 181);
    align-items: center;
    text-decoration: none;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 18px;
    margin-inline: 4px;
    padding: 0 10px;
}

nav li a:hover {
    color: aliceblue;

}

nav li:hover a {
    background-color: #cec6c6;
    padding: 0 50px;
    border-radius: 50px;
  
}


.middle {
    background-image: url(/images/molamazo.png);
    background-size: cover;
    height: 600px;
    border-radius: 0 60% 0 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.middle img{
   width: fit-content;
   align-self: flex-end;
   margin-top: -1%;
}

main {
    width: 80%;
    margin: auto;
}

header h2 {
    background: antiquewhite;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Baloo Bhaina 2', cursive;
    letter-spacing: 2px;
    border-radius: 0 0 100% 100%;
    margin: auto;
    width: 20%;
}

h3 {
    font-family: 'Baloo Bhaina 2', cursive;
}






/*HOME*/


.cursosgeneral {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
    margin-bottom: 2%;
}


/*.mainhome .abutton {
    width: 200px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 4s;
    cursor: pointer;
}*/

.mainhome {
    margin-bottom: 3%;
}

.mainhome .abutton {
    text-decoration: none;
    transition-duration: 0.4s;
    width: 300px;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.mainhome .abutton:hover {
    background-color: hsl(121, 42%, 38%);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 4%;
}

.mainhome .dia,
.tipocurso {
    font-weight: bold;
}

.mainhome .semana,
.mes, 
.dia {
    text-shadow: 2px 2px 2px rgb(57, 146, 54);
}

.cursosgeneral p {
    text-align: center;
}

.tipocurso {
    font-size: 80%;
    letter-spacing: 6px;
}

.abutton {
    text-decoration: none;
    color: antiquewhite;
}

.buttonhome {
    background-color: #2b9b2e;
    text-align: center;
}







/*CONOCENOS*/

.mainmentores {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.presentacionmentor {
    text-align: center;
    align-self: center;
    width: 30%;
    text-shadow: 1px 1px 1px rgb(59, 117, 20);
}

.mentores {
    width: 60%;
 }

.mentor {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 2%;
 }

.mentores img {
    width: 140px;
    height: 140px;
    border-radius: 50px;
}

.mentores .nombre {
    text-decoration: underline;
    text-underline-position: under;
    font-style: italic;
}

/*CONTACTO*/

.contactomain {
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
    margin-bottom: 6%;
}

.contactoinfo {
    align-self: center;
    text-align: center;
    width: 30%;
    text-shadow: 1px 1px 1px rgb(57, 146, 54);
}

.mailtlf {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.mail,
.tlf
    {
    text-align: center;
}



/*TABLA*/




.tablayh3 {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    width: max-content;
    margin-left: 28%;
    font-family: 'Baloo Bhaina 2', cursive;
    margin-bottom: 10%
}

.h3info {
    text-align: center;
    margin-bottom: 4%;
}

th {
    color: antiquewhite
}

.tabla, th,
 td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
  }
  
 tr:hover {
     background-color:#f5f8f0;
 }
 
 tr:nth-child(odd){ 
     background-color:#dee9a1;
 }

 th {
    text-align: center;
    background-color: rgb(65, 32, 32);
 }



 /*LISTA*/

.listas {
    font-family: 'Baloo Bhaina 2', cursive;
  
}

.listas {
    display: flex;
    justify-content: space-between;
}

.listacss {
   margin-right: 10%;
}

.listaatributos {
    margin-top: 11%;
    margin-left: 36%;
}

.primerli {
    list-style: disc;
}


.segundoli {
    list-style: circle;
    margin-left: 20px;
}

.tercerli {
    margin-left: 40px;
    list-style: square;
}

.listashtmljuntas {
    display: flex;
    margin-left: 12%;
}

.pdelistas {
    text-decoration: underline;
    text-underline-position: under;
    margin-left: 100%;
}

.pdelistascss {
    text-decoration: underline;
    text-underline-position: under;
    margin-right: 10%;
    text-align: center;
}

.h3infolista {
    text-align: center;
    margin-bottom: 4%;
    text-decoration: underline;
    text-underline-position: under;
}



/*FORMULARIO*/



.formulario {
    margin-top: 6%;
    margin-bottom: 6%;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    font-family: 'Baloo Bhaina 2', cursive;
}

.pdeform {
    text-decoration: underline;
    text-underline-position: under;
}

.nombreedadform,
.tlfemailform {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ciudades {
    width: fit-content;
}

.ciudad {
    display: flex;
    flex-direction: column;
   
    text-align: center;
}

.fechainicioform {
    display: flex;
    flex-direction: column;
    
    text-align: center;
}

.tipoytecform {
    margin-right: 10%;
}


.tecnologiasform {
    text-align: center;
    width: max-content;
}

.tipocursoform {
    text-align: center;
    width: max-content;
    margin-left: 7%;
}

.ciudadyfechaform {
    margin-left: 40%;
}

.h3form {
    width: 30%;
    align-self: center;
    margin-left: 6%;
}

.infocursoform,
.infocuatrodivs,
.comentariosform {
    display: flex;
}

.infocuatrodivssinh,
.infocursoformsinh,
.commentbox {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}